<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.2.9" targetFramework="monoandroid81" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="monoandroid81" />
  <package id="Zebble" version="4.4.323" targetFramework="monoandroid81" />
</packages>